@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist);
  --color-brand: #E01A4F;
  --color-brand-700: #bf1441;
  --color-brand-50: #fde8ef;
  --color-brand-100: #fcd0dc;
  --color-brand-200: #f9a0b9;
  --color-brand-500: #e8356a;
}

html {
  scroll-behavior: smooth;
}
